.Marker {
    position: absolute;
    transform: translate(-50%, -50%);

    transition: transform .1s;

    .Mark {
        cursor: pointer;
    }

    .Info {
        background: var(--white);
        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translate(-50%, 0px);
        padding: 1em;
        border-radius: .25em;
    }
}