@use "mixin";

.Field {
    display: flex;
    gap: 16px;

    &.Row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 100%;

        label {
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 30%;
        }

        input {
            @include mixin.Input;
            flex: 1 1 auto;
            width: 0;
        }
    }

    &.Column {
        flex-direction: column;
    }
}
