@use "mixin";

.Dialog {
    position: relative;

    display: flex;
    flex-direction: column;

    background: var(--white);

    border-radius: 8px;
    border: 1px solid var(--grey-90);

    box-shadow: 0px 4px 8px 0px hsla(0, 0%, 30%, 0.2);

    .Head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        color: var(--grey-60);
        font-size: 12px;
        padding: 0px 8px;

        .DialogTitle {
            font-size: inherit;
            font-weight: inherit;
        }


        .CloseButton {

            padding: 8px 0px;
            border: none;

            * {
                width: 16px;
                height: 16px;
            }
        }
    }

    .Body {
        padding: 24px;

        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}