.Editor {
    .Interface {

        width: 100%;
        height: 100%;

        position: fixed;
        left: 0;
        top: 0;

        pointer-events: none;

        > * {
            pointer-events: all;
        } 

        display: grid;
        grid-template-columns: 10px min-content auto min-content 10px;
        grid-template-rows: 
            10px 
            min-content 
            auto 
            min-content 
            10px;
        grid-template-areas: 
            ". .         .         .       ."
            ". SystemBar TitleBar  ToolBar ."
            ". SystemBar .         ToolBar ."
            ". SystemBar StatusBar ToolBar ."
            ". .         .         .       .";

        align-items: center;

        > :nth-child(1) {
            grid-area: TitleBar;
        }

        > :nth-child(2) {
            grid-area: SystemBar;
            justify-self: flex-start;
        }

        > :nth-child(3) {
            grid-area: ToolBar;
            justify-self: flex-end;
        }

        > :nth-child(4) {
            grid-area: StatusBar;
        }
    }


}