.Editor {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: 
        "ViewPort SystemKit"
        "ViewPort ToolKit"
        "ViewPort DockArea";

    > :nth-child(1) {
        grid-area: ViewPort;
    }

    > :nth-child(2) {
        grid-area: SystemKit;
    }

    > :nth-child(3) {
        grid-area: ToolKit;
    }

    > :nth-child(4) {
        grid-area: DockArea;
    }
}