@use "mixin";

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    background-color: transparent;

    color: inherit;

    cursor: pointer;

    .Icon {
        width: 16px;
        height: 16px;
        color: var(--grey-30);
    }
}



