.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;

    color: inherit;

    cursor: pointer;
    
    .Icon {
        cursor: pointer;
        width: 16px;
        height: 16px;
    }

    .Label {
        cursor: pointer;
    }
}



