@use "mixin";

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: transparent;

    cursor: pointer;

    * {
        color: var(--grey-30);
    }
}



