.WorkSpace {
    background-color: var(--grey-90);
    position: relative;

    > :nth-child(2) {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}