* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    touch-action: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: Inter;
    color: var(--grey-20);
}

label {
    white-space: nowrap;
}


input[readonly] {
    background-color: var(--grey-90);
}