.Toolbar {
    display: flex;
    gap: 16px;

    button {
        width: 42px;
        height: 42px;

        background-color: var(--white);
        border: 1px solid var(--grey-90);
        border-radius: 8px;

        path {
            stroke: var(--theme);
        }

    }

    &.Column {
        flex-direction: column;
        height: fit-content;
    }

    &.Row {
        flex-direction: row;
        width: fit-content;
    }
}
