@use "mixins";

.InitialDialog {
    @include mixins.button;


    display: flex;
    justify-content: center;
    gap: 10%;

    font-size: 20px;

    > * {
        @include mixins.button;

        display: flex;
        align-items: center;
    }
}