@use "mixin";

.Toolbar {
    display: flex;
    gap: 16px;

    button {
        width: 42px;
        height: 42px;
        border: 1px solid var(--grey-90);

        @include mixin.Button;
    }

    &.Column {
        flex-direction: column;
        height: fit-content;
    }

    &.Row {
        flex-direction: row;
        width: fit-content;
    }
}
