.DecorWidget {
    position: absolute;
    pointer-events: auto;

    .Decor {
        cursor: pointer;
        user-select: none;

        position: absolute;
        transform: translate3d(-50%, -50%, 0);

        width: 64px;
        height: 64px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &:global(.Selected) > .Decor {
        box-sizing: content-box;
        border: 3px dashed blue;
    }
    

}
