.DecorWidget {
    position: absolute;
    pointer-events: auto;

    .Mark {
        cursor: pointer;
        user-select: none;

        position: absolute;
        transform: translate3d(-50%, -50%, 0);

        width: 64px;
        height: 64px;

        img {
            width: 100%;
            height: 100%;
        }
    }

}
