* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    touch-action: pan-down;
    overscroll-behavior: none;
}

body {
    font-family: Inter;
    color: var(--grey-30);
    margin: 0;
}

label {
    white-space: nowrap;
}

button {
    border: unset;
    outline: unset;
}

input {
    // border: unset;
    // outline: unset;
}
